/*.hidden {
    display: none;
}*/

* {
    font-family: monospace;
}

body {
    background: rgba(255, 255, 255, 0.062);
}

.log {
    background-color: white;
    text-align: center;
    margin-top: 20em;
    margin-left: 55em;
    margin-right: 55em;
    padding: 4em;
}

#login {
    font-size: 2em;
}

a:link,
a:visited {
    background-color: #01a029;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

a:hover,
a:active {
    background-color: rgb(204, 117, 3);
}