.hidden {
    display: none;
}

* {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
}

#tracks {
    background-image: url('../images/Body-img.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.log {
    position: relative;
    width: 100%;
}

.log img {
    width: 100%;
    height: auto;
}

.log {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.log {
    border: solid 2px black;
}

.log h1 {
    position: absolute;
    top: 40%;
    left: 45%;
    color: black;
    font-size: 26px;
    cursor: pointer;
    text-align: center;
}

.log:hover {
    background-color: black;
    color: white;
}

header {
    width: 100%;
    margin: 0;
}

header img {
    width: 100%;
}

.parentClass h1 {
    margin: 5%;
}

ol {
    padding: 0;
    margin: auto;
}

#track-ol {
    width: 100%;
    margin: auto;
}

#track-li {
    display: flex;
    border: solid 2px black;
    border-radius: 15px;
    height: 30%;
    width: 75%;
    align-self: space-between;
    background-color: white;
}

ol li {
    margin: 5%;
    padding: 2%;
}

li textarea {
    height: 10em;
    min-width: 15em;
    margin: 0 0.5em;
    margin-left: 3em;
}

li button {
    text-transform: uppercase;
    text-align: center;
    display: inline;
}

li #button-save {
    height: 3em;
    margin-left: 1em;
}

li #button-delete {
    height: 3em;
    margin-left: 0.5em;
    margin-right: 5em;
}

li #button-edit {
    height: 3em;
    margin-left: 0.5em;
}

#tracknote {
    height: 10em;
    max-width: 15em;
}

#tracknote p {
    margin: 0;
}

#track-title {
    height: 2em;
    font-size: 20px;
}

#track-info {
    padding-top: 7em;
    width: 20em;
    font-size: 15px;
}

button {
    display: inline-block;
    padding: 0.46em 1.6em;
    border: 0.15em solid #000000;
    border-radius: 15px;
    margin: 0 0.2em 0.2em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: #ffffff;
    text-align: center;
    transition: all 0.15s;
}

button:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: #ffffff;
    border-color: #000000;
    border-radius: 5px;
    background-color: #b300aa;
}

footer {
    width: 100%;
    height: 100%;
    margin: 0;
}

footer img {
    width: 100%;
}