@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.hidden {
    display: none;
}

* {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
}

#tracks {
    background-image: url('../images/Body-img.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#navbar ul {
    list-style-type: none;
    height: auto;
    padding: 0;
    width: 80%;
    margin-left: 29%;
    margin-top: 1%;
}

#navbar li {
    display: inline;
    float: left;
}

#navbar a {
    font-size: 18px;
    display: block;
    padding: 8px;
    margin: 0 5em;
    color: black;
    text-decoration: none;
}

.log {
    position: relative;
    background-color: white;
    margin: auto;
    width: 30%;
    height: 20em;
    border: solid 2px black;
    border-radius: 10px;
}

.log a {
    position: absolute;
    color: black;
    top: 60%;
    left: 42%;
    font-size: 26px;
    cursor: pointer;
    text-align: center;
}

.log h1 {
    position: absolute;
    top: 40%;
    left: 38%;
    color: black;
    font-size: 26px;
    cursor: pointer;
    text-align: center;
}

.log:hover {
    background-color: black;
    color: white;
}

.log:hover a {
    background-color: black;
    color: white;
}

.log:hover h1 {
    background-color: black;
    color: white;
}


header {
    width: 100%;
    margin: 0;
}

header img {
    width: 100%;
}

.parentClass h1 {
    margin: 5%;
}

ol {
    padding: 0;
    margin: auto;
}

#track-ol {
    width: 100%;
    margin: auto;
}

#track-li {
    display: flex;
    border: solid 2px black;
    border-radius: 15px;
    height: 25%;
    width: 75%;
    align-self: space-between;
    background-color: white;
}

ol li {
    margin: 5%;
    padding: 2%;
}

li textarea {
    height: 10em;
    min-width: 15em;
    margin: 0 0.5em;
}

li #buttons {
    margin-right: 4em;
    cursor: pointer;
    display: inline-block;
    width: 4em;
}

li #buttons button {
    margin: 0;
    cursor: pointer;
    width: 7em;
    margin-bottom: 0.7em;
}

li #button-save {
    height: 3em;
    margin-left: 1em;
}

li #button-delete {
    height: 3em;
    margin-left: 0.5em;
    margin-right: 5em;
}

li #button-edit {
    height: 3em;
    margin-left: 0.5em;
}

#tracknote {
    height: 10em;
    width: 20em;
}

#tracknote p {
    margin: 0;
}

#track-title h2 {
    height: 2em;
    font-size: 20px;
    padding-bottom: 2em;
}

#track-title {
    margin-right: 2em;
    min-width: 20em;
}

#walkingroute-img img {
    height: 8.7em;
    width: 10em;
}

textarea {
    resize: none;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    max-height: 9.8em;
}

button {
    display: inline-block;
    padding: 0.46em 1.6em;
    border: 0.15em solid #000000;
    margin: 0 0.2em 0.2em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    background-color: #ffffff;
    text-align: center;
    transition: all 0.15s;

}

button:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: #ffffff;
    border-color: #000000;
    background-color: #b300aa;
}

footer {
    width: 100%;
    height: 100%;
    margin: 0;
}

footer img {
    width: 100%;
}